
table{
    font-family: Helvetica, sans-serif;
    border-collapse: collapse;
    border-width:1px;
    border-style: solid;
    border-color: blueviolet;
}

th{
    font-weight: 800;
    background-color: burlywood;
    color: #ffffff;
}

#menu-bar{
    width: 40%;
    height: 20px;
    padding-top: 12px;
}
#menu-bar a{
    color: #990073;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 800;

    padding-left: 10px;
    padding-right: 10px;
}


table{
    font-family: Helvetica, sans-serif;
    border-collapse: collapse;
    border-width: 2px;
    border-style: solid;
    border-color: #990073;
}

th{
    font-weight: 900;
    background-color: #990073;
    color: #ffffff;
}